<!-- <p> Find me in app/views/static_pages/about.html.erb </p> -->
<section class="container anchor" id="about">

  <% cache do %>
    <header class="about-header">
      <h1>About</h1>
    </header><!--End of about header-->

    <h3>What</h3>
    <p>Roof party ennui kickstarter keytar mustache, cold-pressed brooklyn. XOXO humblebrag messenger bag offal cronut lo-fi. Small batch tacos you probably haven't heard of them cray. Pinterest selfies swag pug, taxidermy shoreditch fingerstache. Authentic chicharrones pinterest iPhone aesthetic organic. Tattooed iPhone lomo, tote bag ennui chartreuse swag skateboard salvia offal heirloom bespoke. Waistcoat yuccie locavore flannel, vinyl messenger bag tilde chillwave meh. </p>

    <h3>How</h3>
    <p>Roof party ennui kickstarter keytar mustache, cold-pressed brooklyn. XOXO humblebrag messenger bag offal cronut lo-fi. Small batch tacos you probably haven't heard of them cray. Pinterest selfies swag pug, taxidermy shoreditch fingerstache. Authentic chicharrones pinterest iPhone aesthetic organic. Tattooed iPhone lomo, tote bag ennui chartreuse swag skateboard salvia offal heirloom bespoke. Waistcoat yuccie locavore flannel, vinyl messenger bag tilde chillwave meh. </p>

    <h3>History</h3>
    <p>Roof party ennui kickstarter keytar mustache, cold-pressed brooklyn. XOXO humblebrag messenger bag offal cronut lo-fi. Small batch tacos you probably haven't heard of them cray. Pinterest selfies swag pug, taxidermy shoreditch fingerstache. Authentic chicharrones pinterest iPhone aesthetic organic. Tattooed iPhone lomo, tote bag ennui chartreuse swag skateboard salvia offal heirloom bespoke. Waistcoat yuccie locavore flannel, vinyl messenger bag tilde chillwave meh. </p>
  <% end %><!-- /cache -->

</section><!-- /about-->
