<!-- <p> Find me in app/views/static_pages/index.html.erb </p> -->
<section class="container anchor" id="index-page">

  <% cache do %>
    <h1>Welcome to Flat Tire</h1>
    <h2>Some of the best bicycles in the world, slightly used.</h2>
    <%= image_tag("racebike.jpg", class: "home-img img-responsive") %>
  <% end %><!-- cache -->
  
</section>
