<section class="container" id="thank-you">

  <div class="row create-payment-form">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <header class="thank-you-header">
        <h1>Thank you for your trust!</h1>
      </header>
    </div>
  </div>

</section>
