// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-of-comments h2 {
  text-align: left;
}

.add-your-review h2 {
  text-align: left;
}

.pagination {
  font-size: 120%;
}

.list-of-comments p {
  font-size: 100%;
}
