// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: Questrial, Futura, Helvetica, Arial, Sans-Serif;
}

.table-header {
  text-transform: uppercase;
}

.product-table,
.edit-product-body,
.show-product-body {
  margin-bottom: 2%;
}

.show-product-body p {
  margin:0;
}

.show-product-body h3 {
  text-align: left;
}
