// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ================= TYPOGRAPHY ================================*/
* {
  font-family: Questrial, Futura, Helvetica, Arial, Sans-Serif;
}

/* ============================ BODY & HEADERS ===============================*/
body {
  height: 100%;
  padding-top: 50px;
  margin:0;
}

h1, h2, h3 {
  text-align: center;
}

p {
  font-size: 1.3em;
  line-height: 20px;
}

.btn {
  font-size: 1em;
}

.search-button {
  font-size: 1.2em;
}
/* ============================= NAVBAR ======================================*/
#wrap > .container {
  padding-top: 60px;
}

.navigation-link {
  text-transform: capitalize;
  font-size: 1.5em;
}

.navbar-brand {
  font-size: 2.5em;
}

li .btn-default {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  margin-top: 8px;
}

.login-link {
  font-size: 1.5em;
}

.logout-link {
  font-size: 1.5em;
}

/* ================================= HOME ====================================*/
.home-img {
  /* img-responsive class of Bootstrap takes care of the center alignment*/
  margin: 0 auto;
}

/* ============================== LANDING PAGE ===============================*/
.carousel-caption {
  // margin-bottom: 77%;
  text-shadow: 0 0 0;
}

.carousel-caption h1 {
  color: gray;
}

.carousel-control {
  opacity: 0;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  max-height: 800px;
  margin: 0 auto;
}

/* ============================== CONTACT ====================================*/
.contact-img {
  margin-bottom: 5%;
}

.address h3 {
  text-align: left;
}

.form h3 {
  text-align: left;
}

.address-details {
  margin-left: 0;
}

/* ============================== ABOUT ======================================*/
#about > .row {
  margin-bottom: 7%;
}

/* ============================= THANK YOU ===================================*/
.panel-body {
  text-align: center;
}

/* ============================ SHOW PRODUCT =================================*/
.comment-body {
  font-size: 80%
}

/* =========================== FORMS  ===============================*/

.form {
  margin-top: 5%;
  margin-bottom: 20%;
}

.new-product-form,
.edit-product-form {
  margin-top: 3%;
  margin-bottom: 7%;
}

.create-payment-form {
  margin-top: 5%;
}

/* ================================ FOOTER ===================================*/
footer {
  bottom: 0;
  background-color: #f5f5f5;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 3% 0;
}

footer .footer-left p {
  color:  #8f9296;
  font-size: 93.8%;
  margin: 0;
}

footer p.footer-links {
  font-size: 1.5em;
  margin: 0 0 10px;
  padding: 0;
}

footer p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: gray;
  margin-right: 1%;
}

/* pseudoclass for hover left*/
.footer-links a:hover {
  background-color: transparent;
  color: black;
  transition: color 200ms;
}

/* ============================ MEDIA QUERIES ================================*/
@media (max-width: 1000px) {
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  // since 3.1.0
  .navbar-collapse.collapse.in {
    display: block!important;
  }

  .collapsing {
    overflow: hidden!important;
  }

  #search-form {
    display: block;
    text-align: center;
  }

  // login-link
  li .btn-default {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    margin-top: 8px;
    margin-left: 35%;
    margin-right: 35%;
  }

  li {
    text-align: center;
  }

  p {
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 20px;
  }

  footer .footer-left {
    text-align: center;
  }

  footer .footer-left p.footer-links {
    line-height: 1.8;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {

  .navbar-right {
    float:none!important;
  }

  #search-form {
    display: block;
    text-align: center;
  }
}

@media (max-width: 768px) {

  .navbar-right {
    float:none!important;
  }

  #search-form {
    display: block;
    text-align: center;
    border-top: 0px;
    border-bottom: 0px;
  }

  .navbar-form {
    width: auto;
  }

  .form-control {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  .col-xs-12 {
    width:100%;
  }
}

@media (min-width: 992px) and (max-width: 1000px){
  li .btn-default {
    margin-left: 39%;
    margin-right: 39%;
  }
}
