// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* ================= TYPOGRAPHY ================================*/
* {
  font-family: Questrial, Futura, Helvetica, Arial, Sans-Serif;
}

/* ==================== BODY & HEADERS =========================*/
html {
  min-height: 100%;
}

body {
  height: 100%;
  padding-top: 60px;
}

h1, h2 {
  text-align: center;
}



/* ===================== FOOTER ================================*/

/* Wrapper for page content to push down footer */
#wrap {
  width: 100%;
  min-height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Fixed height of the footer */
footer {
  position: absolute;
  left:0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

/* Footer text */
footer p {
  margin: 20px 0;
}

/* ===================== NAVBAR ================================*/
#wrap > .container {
  padding-top: 60px;
}

.navigation-link {
  text-transform: capitalize;
  font-size: 1.5em;
}

.navbar-brand {
  font-size: 2em;
}

/* ======================= HOME ================================*/
.home-img {
  /* img-responsive class of Bootstrap takes care of the center alignment*/
  margin:0 auto;
}


/* ===================== CONTACT ================================*/
.contact-img {
  margin-bottom: 5%;
}
