<header class="edit-product-header">
  <h1>Editing Product</h1>
</header><!--/ edit product-->

<div class="container edit-product-body">
  <%= render 'shared/form', product: @product %>
  <%= link_to 'Back', products_path, class:"btn btn-default" %>
  <%= link_to 'Show', @product, class:"btn btn-default"%>
</div><!-- / container-->
