<header class="edit-product-header">
  <h1>Editing Product</h1>
</header><!--/ edit product-->

<div class="container">
  <div class="row edit-product-form"
    <%= render 'shared/form', product: @product %>
    <%= link_to 'Back', products_path, class:"btn btn-default" %>
    <%= link_to 'Show', @product, class:"btn btn-default"%>
  </div>
</div><!-- / container-->
