<p id="notice"><%= notice %></p>

<header class="products-header">
  <h1>Products</h1>
</header>

<div class="container">

  <!-- caching -->
  <div class="row">
    <!-- Goes to the index method of the products controller
    and takes the instance variable @products
    where we have assigned all the contents of the product array -->
    <% @products.each do |product| %>
      <% cache(cache_key_for_products) do %>
        <%= render partial: 'shared/product', locals: {product: product} %>
      <% end %><!-- /caching -->
    <% end %><!-- /product -->
  </div><!-- /row -->

  <br>

  <!-- Create new product with admin conditional -->
  <% if signed_in? && current_user.admin? %>
    <p>
      <%= link_to 'Create New Product', new_product_path, class:"btn btn-default"%>
    </p>
  <% end %>

  <br>

</div><!-- /container -->
