<header class="new-product-header">
  <h1>Creating a New Product</h1>
</header><!--/ new product-->

<div class="container">
  <div class="row new-product-form">
    <%= link_to 'Back', products_path, class:"btn btn-default"%>
    <%= render 'shared/form', product: @product %>
  </div>
</div><!-- /container-->
